
/*------------------------ Imports ---------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/*-------------------- App component styling  --------------------*/

* {
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: auto;
    background-image: linear-gradient(rgba(100, 179, 252, 1),rgb(152, 212, 255));
}

#header {
    padding: 10px;
    height: 2.5rem;
    width: auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.443);
}

#main-weather {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#forecasts {
    margin-inline: 15%;
    margin-bottom: 100px;
}

/*------------------- SearchBar component styling  --------------------*/

.search-bar {
    display: flex;
    flex-direction: row;
}

.location-icon {
    height: 30px;
    cursor: pointer;
}

.search-bar-input {
    display: flex;
    flex-direction: row;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding-inline: 8px;
}

.search-icon {
    height: 20px;
    align-self: center;
}

.location-input {
    width: 20vh;
    background-color: transparent;
    border: none;
}

/*------------------- Logo component styling  --------------------*/

.logo {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%,-50%);
}

.logo-img {
    height: 50px;
}

/*------------------- Weather component styling  --------------------*/

.main-container {
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    margin-top: 20px;
    margin-inline: 15%;
}

.main-location {
    width: auto; 
    margin-right: auto; 
}

.main-location h1 {
    font-size: 3rem;
}

.main-weather-icon {
    width: auto; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 60px;
}

.main-temperature {
    margin-left: auto; 
    font-size: 3rem;
    padding-right: 20px;
}


/*------------------- MainInformation component styling  --------------------*/

.main-info {
    padding: 20px;
    margin: 20px;
    margin-inline: 15%;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset, 0px 4px 22.6px 0px rgba(0, 0, 0, 0.16);
}


/*------------------- Forecast component styling  --------------------*/

.forecast-btn {
    padding: 10px;
    backdrop-filter: blur(5px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset, 0px 4px 22.6px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.forecast-btn:focus {
    background-color: rgba(255, 255, 255, 0.409);
}

/*------------------- WeatherContainer component styling  --------------------*/

.weather-container {
    padding: 10px;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border-top-left-radius: 0px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset, 0px 4px 22.6px 0px rgba(0, 0, 0, 0.16);

}

.box {
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    margin-inline: 12px;
}

.weather-icon-small {
    width: 80px;
}


/*------------------- searchBar component styling  --------------------*/

button.btn1{
    align-self: center;
}
.searchBar-btn {
    height:0px;
    width:0px;
}

.sidebar{
    width:25px;
    height:250px;
    
}


/*------------------- MEDIA QUERIES  --------------------*/

@media (max-width: 850px) {

    #header {
        padding-inline: 6rem;
    }

    #forecasts,
    .main-container,
    .main-info {
        margin-inline: 6rem;
    }

    .main-location h1 {
        font-size: 3rem;
    }

    .main-weather-icon img {
        height: 7rem; 
    }

    .main-temperature {
        font-size: 3rem;
    }

    .main-information {
        font-size: 0.8rem;
    }

    .main-info {
        font-size: 0.8rem;
    }
}


@media (max-width: 694px) {

    #header {
        padding-inline: 2rem;
    }

    .logo-img {
        height: 30px;
    }

    #forecasts,
    .main-container,
    .main-info {
        margin-inline: 2rem;
    }

    .main-location h1,
    .main-temperature {
        font-size: 2.2rem;
    }

}

@media (max-width: 429px) {

    #header {
        padding-inline: 1rem;
    }

    #forecasts,
    .main-container,
    .main-info {
        margin-inline: 1rem;
    }

    .main-location h1,
    .main-temperature {
        font-size: 2rem;
    }

    .main-container {
        align-items: normal;
    }
    
    .main-weather-icon img{ 
        height: 8rem;
        position: absolute;
        top: 12rem;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .main-temperature {
        margin: 0;
    }

}