
/*------------------------ Imports ---------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/*-------------------- App component styling  --------------------*/

* {
    font-family: 'Poppins', sans-serif;
}

html {
    height: 120%;
}

body {
    height: 150%;
}

#root {
    height: 120%;
}

#app-light {
    height: 100%;
    width: auto;
    background-image: linear-gradient(rgba(100, 179, 252, 1),rgb(152, 212, 255));
}

#header {
    padding: 10px;
    height: 2.5rem;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.443);
}

#theme-btn {
    padding: 7px;
    border: 1px solid black;
    border-radius: 25px;
    align-self: center;
    background-color: rgb(255, 255, 255, 0.75);
    margin-inline: 5px;
}

#theme-btn:hover {
    background-color: #e1e1e1bf;
    cursor: pointer;
}

#main-weather {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#forecasts {
    margin-inline: 15%;
    margin-bottom: 2%;
}

#extra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline: 15%;
}

#events-light {
    text-align: center;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset, 0px 4px 22.6px 0px rgba(0, 0, 0, 0.16);
}

#events-light button {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0);
    border-radius: 25px;
    font-size: 25px;
    cursor: pointer;
}

#events-light button:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

#transport-light {
    display: inline;
    height: 200px;
}

/*------------------- SearchBar component styling  --------------------*/

#mySidebar{
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 200px;
    height: 600px;
    z-index: 1;
    box-shadow: 0 2px 6000px rgba(0, 0, 0, 17);
}

input.searchbar{
    width: auto;
    background-color: transparent;
    border: 2px solid lightgray;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 40px;
    border-radius: 50px;
}

#mySidebar h2 {
    color: black;
    margin-bottom: 10px;
}

button.search-boxes{
    margin-bottom: 20px;
    color: black;
    background:none;
    cursor: pointer;
    white-space: nowrap;
}

.exit-btn{
    background:none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.exit-btn path {
    transition: stroke 0.3s ease;
}

.exit-btn:hover path{
    stroke: gray;
}

.sidebar p.no-results {
    color: lightgrey;
    white-space: nowrap;
    margin-bottom: 20px;
}
/*------------------- Logo component styling  --------------------*/

.logo-img {
    height: 50px;
}

/*------------------- Weather component styling  --------------------*/

.main-container-light {
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    margin-top: 40px;
    margin-inline: 15%;
    
}

.main-location {
    width: auto; 
    margin-right: auto; 
}

.main-location h1 {
    font-size: 3rem;
}

.main-weather-icon {
    width: auto; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 70px;
}

.main-temperature {
    margin-left: auto; 
    font-size: 3rem;
    padding-right: 20px;
}


/*------------------- WeatherMainInformation component styling  --------------------*/

.main-info-light {
    padding: 20px;
    margin: 20px;
    margin-inline: 15%;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset, 0px 4px 22.6px 0px rgba(0, 0, 0, 0.16);
}

.warning {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warning img {
    height: 100px;
    width: 100px;
}

.warning p {
    font-weight: 700;
    font-size: 2rem;;
}


/*------------------- Forecast component styling  --------------------*/

.forecast-btn-light {
    padding: 10px;
    backdrop-filter: blur(5px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset, 0px 4px 22.6px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.forecast-btn:focus {
    background-color: rgba(255, 255, 255, 0.409);
}

/*------------------- WeatherContainer component styling  --------------------*/

.weather-container {
    padding: 10px;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border-top-left-radius: 0px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset, 0px 4px 22.6px 0px rgba(0, 0, 0, 0.16);
}

.box-light {
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    margin-inline: 12px;
}

.weather-icon-small {
    width: 80px;
}

/*------------------------- TransportContainer component styling -------------------------*/

.transport-box-light::-webkit-scrollbar {
    width: 10px;
}

.sidebar{
    width:25px;
    height:250px;
}

.sidebar p {
    color: white;
}

/*------------------------- TransportContainer component styling -------------------------*/

.transport-box-light::-webkit-scrollbar {
    width: 10px;
}

.transport-box-light::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0);
    border-radius: 25px;
}

.transport-box-light::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0);
    border-radius: 25px;
}


.transport-box-light::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50, 0.5);
}

.transport-box-light::-webkit-scrollbar-thumb:hover {
    background-color: rgb(20, 20, 20, 0.5);
}

.transport-box-light {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.transport-types {
    display: flex;
    flex-direction: row;
}

.transport-types button {
    padding: 10px;
    border-radius: 15px 15px 0 0;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset;
}

.transport-types button:hover {
    background: rgba(255, 255, 255, 0.25);
}

.transport-results {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 0 25px 25px 25px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset;
}

.transport-boxes-light {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 10%;
}


/*------------------- DARK THEME -------------------*/

/* App component styling */
#app-dark {
    height: 100%;
    width: auto;
    background-image: linear-gradient(rgb(22, 22, 22),rgb(36, 37, 37));
}

/* Weather component styling */
.main-container-dark {
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    margin-top: 20px;
    margin-inline: 15%;
    color: white;
}

/* WeatherMainInformation component styling */
.main-info-dark {
    padding: 20px;
    margin: 20px;
    margin-inline: 15%;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset, 0px 4px 22.6px 0px rgba(0, 0, 0, 0.16);
    color: white;
}

/* Forecast component styling */
.forecast-btn-dark {
    padding: 10px;
    backdrop-filter: blur(5px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset, 0px 4px 22.6px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    color: white;
}

/* WeatherContainer component styling */
.box-dark {
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    margin-inline: 12px;
    color: white;
}

/* Events component styling */
#events-dark {
    width: 45%;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17) inset, 0px 4px 22.6px 0px rgba(0, 0, 0, 0.16);
}

#events-dark button {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0);
    border-radius: 25px;
    font-size: 25px;
    text-decoration: underline;
    color: white;
}

#events-dark button:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

/* TransportContainer component styling */
#transport-dark {
    width: 45%;
    display: inline;
}

.transport-box-dark::-webkit-scrollbar {
    width: 10px;
}

.transport-box-dark::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0);
    border-radius: 25px;
}

.transport-box-dark::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200, 0.5);
}

.transport-box-dark::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.transport-box-dark {
    width: 100%;
    height: 200%;
    overflow-y: scroll;
    color: white;
}


.transport-box-light {
    height: 200%;
}


.transport-box-dark button {
    background: rgb(255, 255, 255, 0.1);
    color: white;
}

.transport-boxes-dark {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
    gap: 10%;
}


/*------------------- MEDIA QUERIES  --------------------*/

@media (max-width: 850px) {

    #header {
        padding-inline: 6rem;
    }

    #forecasts,
    .main-container,
    .main-info-light,
    .main-info-dark {
        margin-inline: 6rem;
    }

    .main-location h1 {
        font-size: 3rem;
    }

    .main-weather-icon img {
        height: 7rem; 
    }

    .main-temperature {
        font-size: 3rem;
    }

    .main-information {
        font-size: 0.8rem;
    }

    .main-info {
        font-size: 0.8rem;
    }

    #extra {
        flex-direction: column;
        justify-content: space-around;
    }

    #events-light {
        width: 85%;
    }

    #events-light button {
        padding: 5px;
        font-size: 20px;
    }

    #events-dark {
        width: 85%;
    }

    #events-dark button {
        padding: 5px;
        font-size: 20px;
    }

    #transport-light {
        width: 95%;
        height: 15vh;
    }

    #transport-results {
        width: 100%;
        flex-wrap: wrap;
    }

    #transport-dark {
        width: 95%;
        height: 15vh;
    }
}


@media (max-width: 694px) {

    #header {
        padding-inline: 2rem;
    }

    .logo-img {
        height: 30px;
    }

    #forecasts,
    .main-container,
    .main-info-light,
    .main-info-dark {
        margin-inline: 2rem;
    }

    .main-location h1,
    .main-temperature {
        font-size: 2.2rem;
    }

    #extra {
        height: 25vh;
        flex-direction: column;
    }

    #events-light {
        width: 85%;
    }

    #events-light button {
        padding: 2px;
        font-size: 15px;
    }

    #events-dark {
        width: 85%;
    }

    #events-dark button {
        padding: 2px;
        font-size: 15px;
    }

    #transport-light {
        width: 95%;
        height: 12vh;
    }

    #transport-results {
        width: 100%;
    }

    #transport-dark {
        width: 95%;
        height: 15vh;
    }
}

@media (max-width: 429px) {

    #header {
        padding-inline: 1rem;
    }

    #forecasts,
    .main-container,
    .main-info-light,
    .main-info-dark{
        margin-inline: 1rem;
    }

    .main-location h1,
    .main-temperature {
        font-size: 2rem;
    }

    .main-container {
        align-items: normal;
    }
    
    .main-weather-icon img{ 
        height: 8rem;
        position: absolute;
        top: 12rem;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .main-temperature {
        margin: 0;
    }

    #extra {
        height: 20vh;
        flex-direction: column;
    }

    #events-light {
        width: 85%;
    }

    #events-light button {
        padding: 0;
        font-size: 15px;
    }

    #events-dark {
        width: 85%;
    }

    #events-dark button {
        padding: 0;
        font-size: 15px;
    }

    #transport-light {
        width: 95%;
        height: 10vh;
    }

    #transport-results {
        width: 100%;
    }

    #transport-dark {
        width: 95%;
        height: 10vh;
    }
}
